/* woah, this font is neato */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: 'Fira Code';
}

ol, p, ul {
    text-align: justify;
}

/*
.contains-task-list li {
  list-style-type: none;
}
*/
